:root {
    --white:#fff;
    --light-grey:#f4f4f4;
    --grey:#ccd1d9;
    --dark-grey:#666;
    --orange:#f9ab00;
    --dark:#343a40;
    --red:#ef4035;
    --hover-red:#f33501;
    --black:#000;
    --transparent-black:#000000b3;
    --green:#00ff00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */


nav {
    z-index: 2;
}
nav {
    overflow: hidden;
}
.logo {
    width: 14rem;
}
nav a.nav-link {
    font-size: 18px;
    letter-spacing: 0.0375rem;
    margin: 0 0.75rem;
    color: var(--white) !important;
}
nav ul li {
    text-transform: uppercase;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    border-bottom: 1.5px solid var(--orange);
}


/* HEADER */


.header-wrapper {
    position: relative;
    background: url(components/wall-and-laptop-background.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.main-info {
    position: absolute;
    top:-250px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.typed-text {
    font-size: 2rem;
    color: var(--white);
}
.main-info h1 {
    color: var(--orange);
    margin-bottom: 25px;
}

@media(max-width:768px) {
    .main-info h1 {
        font-size: 1.7rem !important;
    }
    .typed-text {
        font-size: 1.7rem !important;
    }
}
.download-cv {
    border: 1px solid var(--red);
    border-radius: 5px;
    padding: 0.625rem;
    margin: 2rem;
    text-transform: uppercase;
    color: var(--white);
}
.download-cv:hover {
    text-decoration: none;
    background: var(--hover-red);
    color: var(--white);
    transition: .4s ease-in-out;
}


/* CONTACT */


.contacts {
    background: var(--dark);
    padding: 3rem 0;
}
.contacts h1 {
    color: var(--orange);
    padding: 1.3rem;
    text-transform: uppercase;
}
.contacts p {
    color: var(--light-grey);
    font-size: 1.2rem;
}

/* contact input */

.contacts input, .contacts textarea {
    background: none;
    border: none;
    resize: none;
    color: var(--hover-red);
    outline: none !important;
}
.contacts input:focus, .contacts textarea:focus {
    background: transparent;
    border-bottom: 0.125rem solid var(--dark-grey);
}
.contacts textarea {
    height: 12.2rem !important;
}
.contact-btn {
    margin: 1rem 0 0 0;
}
.btn-main-offer {
    border: 1px solid var(--red);
    margin: 2rem;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--white);
    background: none;

}
.btn-main-offer:hover {
    background: var(--hover-red);
    transition: 1s ease-in-out;
}
.line {
    position: relative;
    top: -0.7rem;
    width: 0;
    height: 0.125rem;
    background: var(--orange);
    display: inline-block;
}
input:focus+.line, textarea:focus+.line {
    width: 100%;
    transition: width .5s ease-in-out;
}
.text-center .form-control:focus {
    color: var(--white);
}